<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <title>З днем народження Соня!!!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="paper-background">
    <div class="head">
        <hr class="head_line" style="left: 3.2%;">
        <h1>18</h1>
        <hr class="head_line" style="right: 3.2%;">
    </div>
    <div style="margin: 22px;"></div>
    <div class="biografy">
        <h2>Sofia</h2>
        <p>
            167 см. шаленості, -- кг. сміливості, 32 зуби мудрості,
            <br>
            Тип харчування: Поглинання енергії з навколишнього середовища, Крадіжка енергії у Лени,
            <br>
            Зброя: Гострі зубки, Звук на високих детсибелах
        </p>
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(3deg);">
        <img src="images/yyyyyy.jpg" alt="Я модна" class="photo">
        <p class="under_photo">I'm stylish</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(-0.9deg);">
        <img src="images/buuuuu.jpg" alt="Я модна" class="photo">
        <p class="under_photo">you are our best friend, your smile is gorgeouse</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(2.3deg);">
        <hr class="holes">
        <img src="images/ha.jpg" alt="Я модна" class="photo">
        <p class="under_photo">Your eyes аre like diamonds</p>
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(-1deg);">
        <img src="images/big_head.jpg" alt="Я модна" class="photo">
        <p class="under_photo">I'm getting ready to get compliments</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(2.7deg);">
        <hr class="holes">
        <img src="images/eyes_up.jpg" alt="Я модна" class="photo">
        <p class="under_photo">I'm ok</p>
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(-2.9deg);">
        <img src="images/lokcett.jpg" alt="Я модна" class="photo">
        <p class="under_photo">I'm not fat</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(1deg);">
        <hr class="holes">
        <img src="images/hmmmmm.jpg" alt="Я модна" class="photo">
        <p class="under_photo">My brother is nothing without me</p>
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(-3deg);">
        <img src="images/hamm.jpg" alt="Я модна" class="photo">
        <p class="under_photo">Кусь кусь</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(1.4deg);">
        <img src="images/haha.jpg" alt="Я модна" class="photo">
        <p class="under_photo">No, I'm already adult!!</p>
        <hr class="holes">
    </div>
    <hr class="border-hr">
    <div class="sticker" style="transform: rotate(-1.5deg);">
        <hr class="holes">
        <img src="images/in_bed.jpg" alt="Я модна" class="photo">
        <p class="under_photo">Перед тобою не можливо встояти</p>
    </div>
    <hr class="border-hr">
    <button class="next-page" style="border-radius: 9px;">
        <a href="19.html">Наступна сторінка</a>
    </button>
</body>
</html>